
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1477640839'); /* IE9*/
  src: url('iconfont.eot?t=1477640839#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1477640839') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1477640839') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1477640839#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-shouyeshouye:before { content: "\e631"; }
.icon-fabiao:before { content: "\3434"; }
.icon-xiaoxi:before { content: "\e65c"; }
.icon-wo:before { content: "\e61e"; }
.icon-jinghua:before { content: "\e60d"; }
.icon-fenxiang1:before { content: "\e654"; }
.icon-wenda:before { content: "\e662"; }
.icon-zhaopin:before { content: "\e62d"; }
.icon-zhiding:before { content: "\e729"; }
.icon-fanhui:before { content: "\e64c"; }
.icon-tuichu:before { content: "\e66a"; }
.icon-zan:before { content: "\e650"; }
